
div.topnav
    a(href="./index.html")
        img(src="images/home.png")
    a(href="./weather.html")
        img(src="images/weather.png")
    a(href="./game.html")
        img(src="images/games.png")
    a(href="./contacts.html")
        img(src="images/contacts.png")
