
div.topnav
    a(href="/index.html")
        img(src="images/homescreenimg/home.png")
    a(href="/weather.html")
        img(src="images/homescreenimg/weather.png")
    a(href="#contact")
        img(src="images/homescreenimg/games.png")
    a(href="#about")
        img(src="images/homescreenimg/contacts.png")
