@import 'common/navbar.scss';

@import 'common/cards.scss';

body {
  background: linear-gradient(to right, #ffffff, #f3f9fb);
  font-family: 'Roboto';
  margin-left: 15px;
  margin-right: 15px;
}

.content {
  margin-left: 15px;
  margin-right: 15px;
}

.city {
  font-family: 'Russo One';
}

.degrees {
  font-family: 'Russo One';
}

.icon-credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
}
